{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.description" . }}

{{ template "chart.homepage" . }} {{ template "chart.versionBadge" . }} {{ template "chart.appVersionBadge" . }}

{{ template "chart.sourcesList" . }}

{{ template "common.requirements" . }}

{{ template "common.usage" . }}

{{ template "chart.valuesHeader" . }}

{{ template "chart.valuesTable" . }}

{{ template "chart.maintainersSection" . }}

{{ template "common.footer" . }}