{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.description" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.sourcesSection" . }}

## Requirements
{{ template "common.requirements" . }}

## Usage
{{ template "common.usage" . }}

{{ template "chart.valuesHeader" . }}

{{ template "chart.valuesTable" . }}

{{ template "chart.maintainersSection" . }}

{{ template "common.footer" . }}
